
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.qr {
    width: 321px;
    height: 495px;
    background-color: white;
    border-radius: 1rem;
}

.qr-code {
    padding: 1rem;
}

.qr-code img {
    width: 100%;
    border-radius: 1rem;
}

.qr-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.qr-desc h1 {
    font-weight: 700;
    padding: 0 1.2rem;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    margin-top: 0.5rem;   
}

.qr-desc p {
    color: var(--grayish-blue);
    font-weight: 400;
    padding: 0 1.2rem;
    margin-top: 1.2rem;
    font-size: 16px;
}

footer {
    font-size: 12px;
    color: hsl(220, 15%, 55%);
    margin-top: 2rem;
}

footer a {
    text-decoration: none;
    color: hsl(218, 44%, 22%);
    cursor: pointer;
}

footer a:hover {
    color: white;
}